{%extends "layout.html" %}

{%block title%} SignUp {%endblock%}
{%block content%}

<div class="container_form text-center messageContainer ">
    {%with messages = get_flashed_messages(with_categories=true)%}
    {% if messages %}
    {% for category, msg in messages%}
        
    <div class="alert alert-{{category}} messageAlert alert-dismissible" role="alert">
        {{msg}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor%}
    {% endif %}
    {%endwith%}

    <form action="#" method="POST" class="form-signin ">
        <h1 class="h3 mb-3 font-weight-bold form_title">Sign Up</h1>
        <label for="inputEmail" class="sr-only"> Email address</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required
            autofocus>
        <label for="inputUsername" class="sr-only"> Username </label>
        <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required
            autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <label for="inputPassword2" class="sr-only">Confirm Your Password</label>
        <input type="password" name="confirmPassword" id="inputPassword2" class="form-control" placeholder="Confirm your Password" required>
        <button class="btn btn-lg btn-book btn-block" type="submit">Sign up</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
    </form>
</div>
{%endblock%}